@charset "utf-8";

.container {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 5px;
}

.caixa1 {
    background-color: red;      
    grid-area: 1 / 1 / 2 / 5;    
}

.caixa2 {
    background-color: rgb(0, 223, 30);
    grid-area: 2 / 1 / 4 / 3;  
}

.caixa3 {
    background-color: blue;     
    grid-area: 2 / 3 / 4 / 5;   
}