@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(129, 94, 161);
    
}

h1 {
    color: white;
    text-shadow: 3px 3px 3px rgb(38, 23, 78);
    padding: 10px;
}